body {
  background: #4b4a49;
}

h3 {
  font-size: 2vw;
}

.title {
  font-size: 5vw;
  color: #b0b7b6;
  font-style: italic;
  margin-top: 2.5vw;
  text-align: center;
}

.pure-img {
width:100%;
position:absolute;
top:-1vw;
z-index: -1;
overflow:hidden;
}

.pure-menu {
  margin-top: -0.70vw;
  font-size: 1.5vw;
}
.selected {
  background: #0a6520;
}

.pure-menu-link {
  color: #FFF;
}
